*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "sidebar navbar"
    "sidebar main";
    min-height: 100vh;

}

nav{
    position: sticky;
    top:0;
    grid-area:navbar;
    background-color: #2b2933 ;
    padding: 1em;
    color: aliceblue;
    border-bottom: rgb(77, 71, 71) 0.5px solid;
    
}

aside{
    height: 100vh;
    position: sticky;
    align-self: start;
    grid-area:sidebar;
    background-color: #2b2933;
    border-right: rgb(77, 71, 71) 0.5px solid;
}

main{    
    grid-area:main;
    background-color: #1f1e33;    
}

.toggle-button {
    display: none; 
}


@media(max-width:800px){
    body{
        grid-template-columns: 1fr;
    }

    aside{
        position: fixed;
        width: 300px;
        display: none;
    }
    main{
        width: 800px;


    }
    .show{
        display: block;
    }
    .toggle-button {
        display:contents; /* Show when screen width is 800px or less */
    }
}
